<template>
  <v-app>
    <v-app-bar app></v-app-bar>
    <v-main>
      <v-container class="main-container">
        <Home/>
      </v-container>
    </v-main>
  </v-app>
</template>

<script>
import Home from './views/Home';

export default {
  name: 'App',

  components: {
    Home,
  },

  data: () => ({
  }),
};
</script>

<style>
  @import './assets/style/style.css';
</style>
