<template>
  <v-container>
    <h1 class="v-heading text-h4">Upload Photo</h1>
    <br>
    <v-row class="text-center">
      <v-col cols="12">
        <v-file-input v-model="file" accept=".png, .jpg, .jpeg" show-size label="File input"></v-file-input>
      </v-col>
      <v-col cols="12">
        <v-btn type="submit" color="primary" x-large width="100%" :disabled="!file || uploading" :loading="uploading" @click="upload()">
          Upload
        </v-btn>
      </v-col>
    </v-row>
    <v-row>
      <v-col>
        <v-btn color="primary" class="mr-2" @click="load">
          <v-icon dark>
            mdi-refresh
          </v-icon>
        </v-btn>
        <v-divider class="mt-5"></v-divider>
        <v-list three-line>
          <template v-for="photo in photos">
            <v-list-item :key="photo.name">
              <v-list-item-avatar rounded>
                <v-img :src="photo.url"></v-img>
              </v-list-item-avatar>
              <v-list-item-content>
                <v-list-item-title>{{photo.name}} Size: {{photo.size}}</v-list-item-title>
                <v-list-item-subtitle>Last Modified: {{photo.lastModified}}</v-list-item-subtitle>
                <v-list-item-subtitle>Labels: {{photo.labels}}</v-list-item-subtitle>
                <v-divider></v-divider>
              </v-list-item-content>
            </v-list-item>
          </template>
        </v-list>
      </v-col>
    </v-row>
    <v-row>
      <v-col>
      </v-col>
    </v-row>
  </v-container>
</template>

<script>

import PhotoService from "../service/PhotoService";

const photoService = new PhotoService();

export default {
  name: 'Home',

  data: () => ({
    file: null,
    uploading: false,
    photos: []
  }),

  methods: {
    upload() {

      this.uploading = true;

      let formData = new FormData();
      formData.append('file', this.file);

      photoService.upload(formData).then(() => {
        this.file = null;
        this.load();
        this.uploading = false;
      }, error => {
        alert("Errore durante l'upload del file " + error);
      });
    },

    load() {
      photoService.getAll().then((result) => {
        this.photos = result.data;
      }, error => {
        alert("Errore durante il recupero immagini " + error);
      });
    }
  },

  mounted() {
    this.load();
  }
}
</script>
